.wrapper {
    padding: 20px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
  }
  
  .gameWrapper {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    gap: 24px;
  }
  
  .aside {
    padding: 0 8px;
  }
  