@import "tailwindcss";

body {
  overflow-x: hidden;
  background-color: #120b28;
  color: #fff;
  font-size: 16px;
  width: 800px;
  margin: 0 auto;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
}
